@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.grid-cols-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
}

.gap-3 > * {
  margin-right: 0.75rem; /* Adjust this value to your desired spacing */
}
.invert{
  filter: invert(1);
}